.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: white;

  &_active {
    .burger-menu__content {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__content {
    padding-top: rem(106);
    opacity: 0;
    transform: translateX(-10%);
    height: 100%;
    transition-duration: $transitionDuration;
    transition-property: opacity, transform;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    overflow: auto;
  }

  .main-menu__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: rem(226);
    overflow: auto;
  }

  &__socials {
    gap: rem(24);
  }
}

@media (max-width: 575.98px) and (orientation: landscape) {
  .burger-menu {
    .main-menu__list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      height: auto;
      overflow: visible;
    }

    .container {
      padding-bottom: 1rem;
    }
  }
}
