.hero {
  min-height: calc(100vh - rem(148));
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  .container {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    gap: rem(30);
    align-items: center;
  }

  &__item {
    &:nth-child(1) {
      flex: 1 0 rem(487);
      min-height: rem(421);
      height: auto;
      position: relative;
    }

    &:nth-child(2) {
      flex: 1 1 rem(674);
    }
  }

  &__lead {
    margin-bottom: rem(30);
  }

  &__desc {
    font-size: rem(18);
    line-height: lh(21.6, 18);
    letter-spacing: rem(0.1);
    color: var(--color-black);
    margin: 0 0 rem(43);
    font-weight: 300;
    transform: translateX(rem(8));
  }

  &__button {
    transform: translateX(rem(8));
    padding: rem(22.5) rem(39);
    display: block;
  }

  &__video {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }

  &__number {
    user-select: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    margin: 0;
    font-size: rem(600);
    line-height: 0.675;
    font-weight: 900;
  }
}

@include tablet {
  .hero {
    &__item {
      &:nth-child(1) {
        flex: 1 0 calc(50% - rem(32));
        min-height: rem(330);
      }

      &:nth-child(2) {
        flex: 1 1 calc(50% - rem(32));
      }
    }

    &__number {
      font-size: rem(450);
    }

    &__lead {
      font-size: rem(48);
    }
  }
}

@include small-tablet {
  .hero {
    min-height: calc(100vh - rem(196.5));

    .container {
      flex-direction: column;
      gap: rem(32);
      justify-content: space-around;
    }

    &__item {
      &:nth-child(1) {
        width: 100%;
        text-align: center;
        flex: 0 0 50%;
        min-height: rem(190);
      }

      &:nth-child(2) {
        flex: 0 1 50%;
        text-align: center;
      }
    }

    &__number {
      font-size: rem(275);
    }

    &__lead {
      font-size: rem(32);
    }

    &__desc {
      font-size: 1rem;
      transform: none;
    }

    &__button {
      margin: 0 auto;
      transform: none;
    }
  }
}

@include mobile {
  .hero {
    min-height: calc(100vh - rem(106.7));
  }
}
