.next-steps {
  min-height: 100vh;
  padding: rem(48) 0;
  display: flex;
  align-items: center;

  &__music {
    margin-bottom: rem(48);
    padding: 1rem;

    .aplayer-pic {
      width: rem(152);
      height: rem(152);
      outline: none;
    }

    .aplayer-info {
      height: rem(152);
      margin-left: rem(170);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: rem(18);
      font-weight: 500;
      line-height: lh(16, 18);
      color: var(--color-black);
    }

    .aplayer-pic .aplayer-play {
      width: rem(36);
      height: rem(36);
    }

    .aplayer-pic .aplayer-play svg {
      top: rem(8);
      left: rem(9);
    }
  }

  .container {
    width: 100%;
  }

  &__title {
    margin: 0 0 rem(117);
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(264), 1fr));
    gap: rem(48);
    counter-reset: step;
  }

  &__item {
    padding-top: rem(74);
    position: relative;
    background-image: url("../img/next-steps__bg.svg");
    background-repeat: no-repeat;
    background-position: top rem(82) right;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: rem(56);
      height: rem(53);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::before {
      counter-increment: step;
      content: "Шаг " counter(step);
      font-family: Montserrat;
      font-size: 1rem;
      font-weight: 700;
      line-height: lh(19, 16);
      color: var(--color-black);
    }

    &_one::after {
      background-image: url("../img/next-steps__step_one.svg");
    }

    &_two::after {
      background-image: url("../img/next-steps__step_two.svg");
    }

    &_three::after {
      background-image: url("../img/next-steps__step_three.svg");
    }

    &_four::after {
      background-image: url("../img/next-steps__step_four.svg");
    }

    &:last-child {
      background: none;
    }
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 500;
    line-height: lh(19, 16);
    margin: 1rem 0 rem(3);
    color: var(--color-black);
  }

  &__text {
    font-size: rem(14);
    font-weight: 300;
    line-height: lh(17, 14);
    color: var(--color-black);
    margin: 0;
  }
}

@include small-tablet {
  .next-steps {
    &__title {
      font-size: rem(36);
      margin: 0 0 rem(48);
    }

    &__list {
      gap: rem(32);
    }

    &__item {
      padding: 0 0 0 rem(97);
      background-image: none;
    }

    &__music {
      margin-bottom: rem(48);
      padding: 1rem;

      .aplayer-pic {
        width: rem(72);
        height: rem(72);
      }

      .aplayer-info {
        height: rem(72);
        margin-left: rem(79);
        font-size: rem(14);
      }

      .aplayer-pic .aplayer-play {
        width: rem(26);
        height: rem(26);
      }

      .aplayer-pic .aplayer-play svg {
        top: rem(3);
        left: rem(4);
      }
    }
  }
}

@media (max-width: 475px) {
  .next-steps {
    &__music {
      padding: 0.5rem;

      .aplayer-body {
        display: flex;
        flex-direction: column;
      }

      .aplayer-info {
        padding: 0;
        height: rem(72);
        margin-left: 0;
        font-size: rem(14);
      }

      .aplayer-music {
        text-align: center;
      }

      .aplayer-pic {
        margin: 0 auto 1rem;
      }
    }
  }
}

@media (orientation: landscape) and (max-width: 1023.98px) and (min-width: 768px) {
  .next-steps {
    &__title {
      font-size: rem(36);
      margin: 0 0 rem(48);
    }
  }
}

@include mouse-device {
  .next-steps__music {
    .aplayer-pic {
      &:hover,
      &:focus {
        .aplayer-button {
          opacity: 1;
        }
      }
    }
  }
}

@include touch-device {
  .next-steps__music {
    .aplayer-pic {
      &:active {
        .aplayer-button {
          opacity: 1;
        }
      }
    }
  }
}
