.background-video {
  position: relative;

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 99%;
    height: 99%;
    object-fit: cover;
    object-position: left top;
  }

  &__number {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    margin: 0;
    width: 100%;
    height: 100%;
    font-weight: 900;
    font-size: rem(600);
    line-height: 0.675;
    background: #fff;
    mix-blend-mode: screen;
    user-select: none;
  }
}
