.burger-trigger {
  width: rem(27);
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(8);
  z-index: 101;

  &__item {
    width: 100%;
    height: rem(2);
    background-color: var(--color-black);
    transition-property: transform, opacity, visibility, background;
    transition-duration: $transitionDuration;
  }

  &_active {
    .burger-trigger__item {
      &:nth-child(1) {
        transform: rotate(45deg) translate(rem(5), rem(8));
      }
      &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(rem(6), rem(-9));
      }
    }
  }
}

@include mouse-device {
  .burger-trigger {
    &:hover,
    &:focus {
      .burger-trigger__item {
        background-color: var(--color-green);
      }
    }
  }
}

@include touch-device {
  .burger-trigger {
    &:active {
      .burger-trigger__item {
        background-color: var(--color-green);
      }
    }
  }
}
