.button {
  border-radius: rem(30);
  font-weight: 300;
  font-size: rem(18);
  line-height: lh(16, 18);
  letter-spacing: rem(0.07);
  border: rem(1) solid transparent;
  transition-property: color, background;
  transition-duration: $transitionDuration;

  &_color-black {
    color: var(--color-black);
  }

  &_border-black {
    border-color: var(--color-black);
  }

  &_color-white {
    color: white;
  }

  &_color-gray {
    color: var(--color-gray);
  }

  &_border-white {
    border-color: white;
  }

  &_bg-black {
    background-color: var(--color-black);
  }
}

@include mouse-device {
  .button_animation-one {
    &:hover,
    &:focus {
      background-color: var(--color-black);
      color: white;
    }
  }

  .button_animation-two {
    &:hover,
    &:focus {
      background-color: var(--color-green);
      color: white;
    }
  }
}

@include touch-device {
  .button_animation-one {
    &:active {
      background-color: var(--color-black);
      color: white;
    }
  }

  .button_animation-two {
    &:active {
      background-color: var(--color-green);
      color: white;
    }
  }
}
