.email {
  &__icon {
    width: rem(10);
    height: rem(9);
    fill: white;
    margin-right: 1rem;
    transition-duration: $transitionDuration;
    transition-property: fill;
  }

  &__text {
    font-size: rem(14);
    font-weight: 500;
    line-height: lh(17, 14);
    color: white;
    transition-duration: $transitionDuration;
    transition-property: color;
  }
}

@include mouse-device {
  .email {
    &:hover,
    &:focus {
      .email__icon {
        fill: var(--color-green);
      }

      .email__text {
        color: var(--color-green);
      }
    }
  }
}

@include touch-device {
  .email {
    &:active {
      .email__icon {
        fill: var(--color-green);
      }

      .email__text {
        color: var(--color-green);
      }
    }
  }
}
