.main-menu {
  &__list {
    &_row {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__link {
    font-size: rem(14);
    line-height: lh(12.6, 14);
    letter-spacing: rem(0.07);
    color: var(--color-black);
    transition-duration: $transitionDuration;
    transition-property: border;
    border-bottom: rem(1) solid transparent;
    outline: none;
  }
}

@include mouse-device {
  .main-menu {
    &__link {
      &:hover,
      &:focus {
        border-bottom: rem(1) solid var(--color-black);
      }
    }
  }
}

@include touch-device {
  .main-menu {
    &__link {
      &:active {
        border-bottom: rem(1) solid var(--color-black);
      }
    }
  }
}
