.preloader {
  position: absolute;
  left: 0;
  top: 0;
  border: rem(7) solid #fff;
  border-radius: 50%;
  border-top: rem(7) solid var(--color-black);
  width: rem(40);
  height: rem(40);
  animation: spin 1s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
