<div class="burger-menu fade-animation">
  <div class="burger-menu__content">
    <div class="container">
      <nav class="main-menu burger-menu__main-menu">
        <ul class="list-reset main-menu__list">
          <li class="main-menu__item">
            <a
              href="#plots"
              data-test="burger-link"
              class="main-menu__link burger-menu__link burger-menu__link_close"
            >
              Участки
            </a>
          </li>
          <li class="main-menu__item">
            <a
              href="#location"
              class="main-menu__link burger-menu__link burger-menu__link_close"
            >
              Место
            </a>
          </li>
          <li class="main-menu__item">
            <a
              href="#history"
              class="main-menu__link burger-menu__link burger-menu__link_close"
            >
              История
            </a>
          </li>
          <li class="main-menu__item">
            <a
              href="#stages"
              class="main-menu__link burger-menu__link burger-menu__link_close"
            >
              Этапы
            </a>
          </li>
          <li class="main-menu__item">
            <a
              href="#team"
              class="main-menu__link burger-menu__link burger-menu__link_close"
            >
              Команда
            </a>
          </li>
          <li class="main-menu__item">
            <a
              href="#documents"
              class="main-menu__link burger-menu__link burger-menu__link_close"
            >
              Документы
            </a>
          </li>
          <li class="main-menu__item">
            <a
              href="#stroll"
              class="main-menu__link burger-menu__link burger-menu__link_close"
            >
              Прогулка
            </a>
          </li>
        </ul>
      </nav>
      <ul class="list-reset socials socials_row burger-menu__socials">
        <li class="socials__item">
          <a
            aria-label="Ссылка на instagram"
            href="#"
            class="socials__link burger-menu__link burger-menu__link_close"
          >
            <svg class="socials__icon">
              <use xlink:href="img/sprite.svg#inst"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            aria-label="Ссылка на facebook"
            href="#"
            class="socials__link burger-menu__link burger-menu__link_close"
          >
            <svg class="socials__icon">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="helper burger-menu__helper">
        <p
          class="helper__text helper__text_bold helper__text_mgb-8 helper__text_max-width-160"
        >
          Ваш персональный помощник в покупке участка:
        </p>
        <p class="helper__text helper__text_mgb-2">Svetlana Davidovski</p>
        <a
          href="tel:+37258130166"
          class="helper__phone burger-menu__link burger-menu__link_close"
        >
          +372 5813 0166
        </a>
      </div>
    </div>
  </div>
</div>
