<section class="documents">
  <div class="container">
    <h2 class="title documents__title">Документы</h2>
    <p class="documents__desc">Документы для скачивания</p>
    <ul class="list-reset documents__list">
      <li class="documents__item">
        <button
          data-document="Геодезия"
          class="btn-reset button button_color-white btn-reset button_border-white documents__button button_animation-two"
        >
          <svg class="documents__icon">
            <use xlink:href="img/sprite.svg#documents_icon"></use>
          </svg>
          <span class="documents__span">Геодезия</span>
        </button>
      </li>
      <li class="documents__item">
        <button
          data-document="Геология"
          class="btn-reset button button_color-white btn-reset button_border-white documents__button button_animation-two"
        >
          <svg class="documents__icon">
            <use xlink:href="img/sprite.svg#documents_icon"></use>
          </svg>
          <span class="documents__span">Геология</span>
        </button>
      </li>
      <li class="documents__item">
        <button
          data-document="Дендрология"
          class="btn-reset button button_color-white btn-reset button_border-white documents__button button_animation-two"
        >
          <svg class="documents__icon">
            <use xlink:href="img/sprite.svg#documents_icon"></use>
          </svg>
          <span class="documents__span">Дендрология</span>
        </button>
      </li>
      <li class="documents__item">
        <button
          data-document="План застройки"
          class="btn-reset button button_color-white btn-reset button_border-white documents__button button_animation-two"
        >
          <svg class="documents__icon">
            <use xlink:href="img/sprite.svg#documents_icon"></use>
          </svg>
          <span class="documents__span">План застройки</span>
        </button>
      </li>
      <li class="documents__item">
        <button
          data-document="Общая презентация"
          class="btn-reset button button_color-white btn-reset button_border-white documents__button button_animation-two"
        >
          <svg class="documents__icon">
            <use xlink:href="img/sprite.svg#documents_icon"></use>
          </svg>
          <span class="documents__span">Общая презентация </span>
        </button>
      </li>
      <li class="documents__item">
        <button
          data-document="Айдентика"
          class="btn-reset button button_color-white btn-reset button_border-white documents__button button_animation-two"
        >
          <svg class="documents__icon">
            <use xlink:href="img/sprite.svg#documents_icon"></use>
          </svg>
          <span class="documents__span">Айдентика</span>
        </button>
      </li>
    </ul>
  </div>
  <div role="dialog" class="modal fade-animation documents-modal">
    <div class="modal__body">
      <div class="container">
        <div class="modal__content">
          <h3 class="modal__title">Отправьте докумнты на свою почту</h3>
          <form action="#" class="modal__form">
            <input
              type="email"
              name="email"
              required
              placeholder="Ваш E-mail"
              class="input-reset modal__input"
            />
            <p class="modal__text">
              Нажимая кнопку «Отправить», Вы даёте согласие на
              <a class="modal__link" href="#">
                обработку ваших персональных данных.
              </a>
            </p>
            <button
              type="submit"
              class="btn-reset button button_color-white btn-reset button_bg-black modal__button button_animation-two"
            >
              Отправить на почту
            </button>
          </form>
          <button class="btn-reset modal__close">
            <svg class="modal__icon">
              <use xlink:href="img/sprite.svg#modal_close"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
