<footer class="footer">
  <div class="container">
    <div class="footer__item">
      <h3 class="footer__subtitle">Контакты</h3>
      <p class="footer__contacts">
        <span class="footer__text">Team Media OU</span>
        <span class="footer__text"
          >Harjumaa, Tallinn linn, Tulika põik 4, 10613</span
        >
        <span class="footer__text">Тел.: 58205581</span>
        <span class="footer__text">E-mail: dmitri.vain@gmail.com</span>
        <span class="footer__text">Регистрационый код 14268077</span>
      </p>
      <ul class="list-reset socials socials_row footer__socials">
        <li class="socials__item">
          <a aria-label="Ссылка на instagram" href="#" class="socials__link">
            <svg class="socials__icon">
              <use xlink:href="img/sprite.svg#inst"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a aria-label="Ссылка на facebook" href="#" class="socials__link">
            <svg class="socials__icon">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__item">
      <a href="#" class="outline-reset logo footer__logo">
        <img src="../img/logo_hight.svg" alt="Uksteist" />
      </a>
    </div>
    <div class="footer__item">
      <div class="helper footer__helper">
        <p
          class="helper__text helper__text_bold helper__text_mgb-8 helper__text_color-white"
        >
          Ваш персональный помощник в покупке участка:
        </p>
        <p class="helper__text helper__text_color-white helper__text_mgb-2">
          Svetlana Davidovski
        </p>
        <a
          href="tel:+37258130166"
          class="helper__phone helper__phone_color-white"
        >
          +372 5813 0166
        </a>
      </div>
      <ul class="list-reset socials socials_row footer__socials">
        <li class="socials__item">
          <a aria-label="Ссылка на instagram" href="#" class="socials__link">
            <svg class="socials__icon">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a aria-label="Ссылка на facebook" href="#" class="socials__link">
            <svg class="socials__icon">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
