<section class="hero">
  <div class="container">
    <div class="hero__item">
      <video
        class="outline-reset hero__video"
        aria-label="Вид леса сверху"
        src="../video/forest.mp4"
        muted
        autoplay
        loop
      ></video>
      <p class="hero__number">11</p>
    </div>
    <div class="hero__item">
      <h1 class="lead hero__lead">Жилой район в Виймси</h1>
      <p class="hero__desc">
        Одиннадцать приватных участков с собственным лесом
      </p>
      <button
        type="button"
        class="btn-reset button button_color-black button_border-black button_animation-one hero__button"
      >
        Участки
      </button>
    </div>
  </div>
</section>
