<section class="infrastructure">
  <div class="container">
    <h2 class="title infrastructure__title">Инфраструктура:</h2>
    <div class="swiper infrastructure__slider">
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <source
                srcset="img/new-road__img_desctop.avif"
                type="image/avif"
                media="(min-width:768px)"
              />
              <source
                srcset="img/new-road__img_desctop.webp"
                type="image/webp"
                media="(min-width:768px)"
              />
              <source
                srcset="img/new-road__img_mobile.avif"
                type="image/avif"
                media="(max-width:767.98px) and (min-width: 0px)"
              />
              <source
                srcset="img/new-road__img_mobile.webp"
                type="image/webp"
                media="(max-width:767.98px) and (min-width: 0px)"
              />
              <img
                loading="lazy"
                src="img/new-road__img_desctop.webp"
                alt="Белая машина"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">Новые дороги</h3>
            <p class="infrastructure__desc">Новая широкая дорога</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <img
                loading="lazy"
                src="img/infrastructure_stub.svg"
                alt="Скоро здесь будет изображение"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">Уличное освещение</h3>
            <p class="infrastructure__desc">Lorem, ipsum dolor.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <img
                loading="lazy"
                src="img/infrastructure_stub.svg"
                alt="Скоро здесь будет изображение"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">Маяк</h3>
            <p class="infrastructure__desc">Lorem, ipsum dolor.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <img
                loading="lazy"
                src="img/infrastructure_stub.svg"
                alt="Скоро здесь будет изображение"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">Забор</h3>
            <p class="infrastructure__desc">Lorem, ipsum dolor.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <img
                loading="lazy"
                src="img/infrastructure_stub.svg"
                alt="Скоро здесь будет изображение"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">Общая зона</h3>
            <p class="infrastructure__desc">Lorem, ipsum dolor.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <img
                loading="lazy"
                src="img/infrastructure_stub.svg"
                alt="Скоро здесь будет изображение"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">Скамейки с крышей</h3>
            <p class="infrastructure__desc">Lorem, ipsum dolor.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <img
                loading="lazy"
                src="img/infrastructure_stub.svg"
                alt="Скоро здесь будет изображение"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">Дорожка</h3>
            <p class="infrastructure__desc">Lorem, ipsum dolor.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <img
                loading="lazy"
                src="img/infrastructure_stub.svg"
                alt="Скоро здесь будет изображение"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">Детская площадка</h3>
            <p class="infrastructure__desc">Lorem, ipsum dolor.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <img
                loading="lazy"
                src="img/infrastructure_stub.svg"
                alt="Скоро здесь будет изображение"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">Песочница</h3>
            <p class="infrastructure__desc">Lorem, ipsum dolor.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <img
                loading="lazy"
                src="img/infrastructure_stub.svg"
                alt="Скоро здесь будет изображение"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">Входная группа</h3>
            <p class="infrastructure__desc">Lorem, ipsum dolor.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <img
                loading="lazy"
                src="img/infrastructure_stub.svg"
                alt="Скоро здесь будет изображение"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">Коммуникации</h3>
            <p class="infrastructure__desc">Lorem, ipsum dolor.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <img
                loading="lazy"
                src="img/infrastructure_stub.svg"
                alt="Скоро здесь будет изображение"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">Лес</h3>
            <p class="infrastructure__desc">Lorem, ipsum dolor.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="infrastructure__item infrastructure__item_img">
            <picture>
              <img
                loading="lazy"
                src="img/infrastructure_stub.svg"
                alt="Скоро здесь будет изображение"
                class="infrastructure__img"
              />
            </picture>
          </div>
          <div class="infrastructure__item">
            <h3 class="infrastructure__subtitle">И ваш участок земли</h3>
            <p class="infrastructure__desc">Lorem, ipsum dolor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
