<section id="location" class="location">
  <div class="container">
    <div class="location__item">
      <h2 class="title location__title">Место</h2>
      <button type="button" class="btn-reset location__button">
        <svg class="location__icon">
          <use xlink:href="img/sprite.svg#location__icon"></use>
        </svg>
        <span class="location__text"> Показать карту </span>
      </button>
    </div>
    <div class="location__item location__item_map">
      <div class="preloader"></div>
      <div id="map"></div>
    </div>
  </div>
</section>
