<section class="next-steps">
  <div class="container">
    <h2 class="title next-steps__title">Следующие шаги</h2>
    <ul class="list-reset next-steps__list">
      <li class="next-steps__item next-steps__item_one">
        <h3 class="next-steps__subtitle">Прогулка</h3>
        <p class="next-steps__text">
          Запланируйте самостоятельную прогулку на выходные
        </p>
      </li>
      <li class="next-steps__item next-steps__item_two">
        <h3 class="next-steps__subtitle">Архитектор</h3>
        <p class="next-steps__text">
          Свяжитесь с архитектурным бюро. Обсудите идею вашего дома
        </p>
      </li>
      <li class="next-steps__item next-steps__item_three">
        <h3 class="next-steps__subtitle">Бронь</h3>
        <p class="next-steps__text">
          Забронируйте бесплатно участок на 11 дней
        </p>
      </li>
      <li class="next-steps__item next-steps__item_four">
        <h3 class="next-steps__subtitle">Покупка</h3>
        <p class="next-steps__text">
          Оформление нотариальной сделки. Вы владелец земли.
        </p>
      </li>
    </ul>
  </div>
</section>
