<section class="origins">
  <div class="container">
    <h2 class="title title_color-white origins__title">
      Истоки
      <button
        data-test="modal-trigger"
        aria-label="Кнопка открытия модального окна"
        class="btn-reset origins__button"
      >
        <svg class="origins__icon">
          <use xlink:href="img/sprite.svg#origins-modal-trigger"></use>
        </svg>
      </button>
    </h2>
    <p class="origins__text">
      Эта земля формировалась больше 11 миллиардов лет. 11 семей построят здесь
      11 современных домов.
    </p>
  </div>
  <div
    data-test="modal"
    role="dialog"
    class="modal fade-animation origins-modal"
  >
    <div data-test="modal-body" class="modal__body">
      <div class="container">
        <div class="modal__content">
          <div class="modal__item">
            <p class="modal__verse">
              <span class="modal__verse-paragraph">
                В бескрайних просторах Вселенских полей Энергией света клубится,
                Волшебной историей сказочных дней Летит на Земле
                воплотиться.</span
              >
              <span class="modal__verse-paragraph">
                Но так безграничен Вселенной чертог, А панцирь же узок и тесен.
                Сулит испытать ощущений восторг, Тем самым он так
                интересен.</span
              >
              <span class="modal__verse-paragraph"
                >В безмолвной тиши тёплых летних ночей Космической гостьей
                хвостатой Спускается в лапы пушистых ветвей И вмиг исчезает
                куда-то.</span
              >
              <span class="modal__verse-paragraph"
                >В то время по тропкам лесным ,не спеша, Задумчивый путник
                гуляет, И сказка, невидимой пылью кружа, На плечи ему
                оседает.</span
              >
              <span class="modal__verse-paragraph"
                >Под звучный оркестр полночных цикад, Прогулкой лесной
                утомленный, Герой наш на сонной опушки наряд Ложится дремотой
                пленённый.</span
              >
              <span class="modal__verse-paragraph"
                >Во сне будто слышит призыв голосов Построить 11 лучших домов В
                том самом лесу, Что открыл он на днях, Дорогу к нему охраняет
                маяк.
              </span>
            </p>
          </div>
          <div class="modal__item">
            <picture>
              <source
                srcset="img/origins-modal__img_desctop.avif"
                type="image/avif"
              />
              <img
                loading="lazy"
                src="img/origins-modal__img_desctop.webp"
                alt="Лес с дорогой"
                class="modal__img"
              />
            </picture>
          </div>
          <div class="modal__item">
            <figure class="modal__quote">
              <blockquote>
                «Жизнь каждого человека – волшебная сказка, написанная рукой
                Бога.»
              </blockquote>
              <figcaption>Ганс Христиан Андерсен</figcaption>
            </figure>
          </div>
          <button data-test="modal-close" class="btn-reset modal__close">
            <svg class="modal__icon">
              <use xlink:href="img/sprite.svg#modal_close"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
