<section id="stages" class="stages">
  <div class="container">
    <h2 class="title stages__title title_mgb-33">Этапы</h2>
    <p class="stages__desc">Срок реализации</p>
    <ul class="list-reset stages__list">
      <li class="stages__stage stages__stage_complete">
        <p class="stages__progress stages__progress_first">
          <span class="stages__term">01.06.2021</span>
          <span class="stages__percent">0%</span>
        </p>
        <p class="stages__text">Подготовительные работы</p>
        <ul class="list-reset intermediate-stages">
          <li
            data-test="tooltip"
            tabindex="0"
            class="tooltip intermediate-stages__item intermediate-stages__item_complete"
            data-content="Геология"
          >
            <p class="intermediate-stages__text">Геология</p>
          </li>
          <li
            tabindex="0"
            class="tooltip intermediate-stages__item intermediate-stages__item_complete"
            data-content="Геодезия"
          >
            <p class="intermediate-stages__text">Геодезия</p>
          </li>
          <li
            tabindex="0"
            class="tooltip intermediate-stages__item intermediate-stages__item_complete"
            data-content="Дендрология"
          >
            <p class="intermediate-stages__text">Дендрология</p>
          </li>
        </ul>
      </li>
      <li class="stages__stage stages__stage_complete">
        <p class="stages__text">Проектирование дорог</p>
        <ul class="list-reset intermediate-stages">
          <li
            tabindex="0"
            class="tooltip intermediate-stages__item intermediate-stages__item_complete"
            data-content="Проектирование коммуникаций"
          >
            <p class="intermediate-stages__text">Проектирование коммуникаций</p>
          </li>
          <li
            tabindex="0"
            data-content="Проектирование дорог"
            class="tooltip intermediate-stages__item intermediate-stages__item_in-progress"
          >
            <p class="intermediate-stages__text">Проектирование дорог</p>
          </li>
        </ul>
      </li>
      <li class="stages__stage stages__stage_in-progress">
        <p class="stages__text">Строительство дорог</p>
        <ul class="list-reset intermediate-stages">
          <li
            tabindex="0"
            data-content="Подготовка участков"
            class="tooltip intermediate-stages__item intermediate-stages__item_in-progress"
          >
            <p class="intermediate-stages__text">Подготовка участков</p>
          </li>
          <li
            tabindex="0"
            data-content="Строительство коммуникаций"
            class="tooltip intermediate-stages__item intermediate-stages__item_in-progress"
          >
            <p class="intermediate-stages__text">Строительство коммуникаций</p>
          </li>
          <li
            tabindex="0"
            data-content="Строительство дорог"
            class="tooltip intermediate-stages__item intermediate-stages__item_in-progress"
          >
            <p class="intermediate-stages__text">Строительство дорог</p>
          </li>
        </ul>
      </li>
      <li class="stages__stage stages__stage_in-progress">
        <p class="stages__progress stages__progress_last">
          <span class="stages__term">01.02.2023</span>
          <span class="stages__percent">100%</span>
        </p>
        <p class="stages__text">Инфраструктура готова</p>
      </li>
    </ul>
  </div>
</section>
