<section class="stroll">
  <div class="stroll__item">
    <div class="container">
      <h2 class="title stroll__title">Прогулка</h2>
      <p class="stroll__desc">
        Запланируйте прогулку на выходные по этому чудесному месту
      </p>
      <button type="button" class="btn-reset button stroll__button">
        Построить маршрут
      </button>
    </div>
  </div>
  <div class="stroll__item">
    <video
      class="outline-reset stroll__video"
      aria-label="Вид леса сверху"
      src="../video/forest.mp4"
      muted
      autoplay
      loop
    ></video>
  </div>
</section>
