html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: rem(1248);
  margin: 0 auto;
  padding: 0 rem(24);
}

a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.outline-reset {
  outline: none;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 0;
  background-color: transparent;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.overflow-hidden {
  overflow: hidden;
}

$transitionDuration: 0.4s;
